<html>
<head>
  <meta charset="UTF-8">
  <title>就業規則BOT</title>
  <link rel="icon" href="/static/icons8-chatbot.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <div class="small-text">
    <a target="_blank" href="https://icons8.com/icon/WmDgmNrDhz7f/%E3%83%81%E3%83%A3%E3%83%83%E3%83%88%E3%83%9C%E3%83%83%E3%83%88">チャットボット</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  </div>
  <link href="static/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <h1> <img src="/static/icons8-chatbot.png" alt height="32" width="32"> 就業規則BOT </h1>
  <form onsubmit="search();return false;">
    <input type="search" id="keyword" placeholder="就業規則に関することなら何でも聞いてください" size="64">
    <button><i class="fas fa-paper-plane"></i></button>
  </form>

  <div id="result">
    <p id="query"></p>
    <p id="response"></p>
    <details>
      <summary>詳細</summary>
      <p id="regulation"></p>
    </details>
  </div>
  <div id="errors">
      <p id="error-message"></p>
  </div>


  <script type="text/javascript" src="/static/main.js"></script>
</body>
</html>
